$md-body-font-size-base: 16px;

$md-toolbar-height-desktop: 64px; // as default
$md-toolbar-height-mobile-portrait: 56px; // as default
$md-toolbar-height-mobile-landscape: 48px; // as default

$md-toolbar-font-size: 20px; // as default
$md-toolbar-padding: 16px; // as default
