ul, menu, dir {
  margin: 0;
  padding: 0;
}
menu li, menu a {
  display: inline-block;
  padding: 10px;
}

menu {
  padding: 10px;
}

button {
  transition: opacity .2s ease-in-out;

  &[md-button] {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 5px 0px;
  }

  &:not([disabled]) {
    opacity: 1;
    pointer-events:initial;
  }

  &[disabled] {
    opacity: 0;
    pointer-events:none;
  }
}
